/* Basics styles for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'Bakbak One', Arial, sans-serif;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #0D0D11;
}

/* delete dots in ul*/
ul {
    list-style-type: none;
}

/* Styles for headers */
.logo-img-header {
    width: 36px;
    height: 40px;
}

.btn-sun-img {
    width: 24px;
    height: 24px;
}

.btn-discord-img {
    width: 24px;
    height: 24px;
}

.connect-img {
    width: 24px;
    height: 24px;
}

.main-heading {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
}

.section-title {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
}

.color-binabox {
    color: #21E786;
}

/* Styles for header for index, catalog, catalog-item*/
header.page-header {
    background-color: #040B11;
    font-family: 'Bakbak One', Arial, sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 10%;
}

/* Remove underline from the logo link */

a {
    text-decoration: none;
}

header .logo-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
}

/* color for button discord */
.btn-discord-header {
    background-color: #141B22;
    color: #FFFFFF;
    line-height: 24px;
}

/* color for button connect */
.btn-connect {
    background-color: #21E786;

}

/* color for button sun */
.btn-sun {
    background-color: #141B22;
}

/* Navigation styles for index.html catalog.html and catalog-item.html */
/* nav.pageheader-nav {} */

/* color for visited links */
/* .nav-link:visited {
    color: rgb(143, 99, 156);
} */

/* color for all links .nav-link (index, catalog, catalog-item) */
.nav-link {
    color: rgb(255, 255, 255);
}

.main-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;

}

/* Styles for all buttons */

.btn {
    font-family: 'Bakbak One';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.btn-connect-wallet {
    background-color: #21E786;
    ;
}

/* Styles for index.html */

/* main.page-content
section.main-section*/
.main-section-img {
    width: 970px;
    height: 846px;
}

.btn-whitelist {
    border: 2px solid #21E786;
    color: rgb(255, 255, 255);
    background-color: #141B22;
}

.stat-number {
    font-size: 44px;
    font-weight: 400;
    line-height: 56px;
    text-align: left;
}

.stat-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #C2C3C5;
}

/* Styles section.nft-collection */
.nft-collection-item {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

/* color for links */
.nft-collection-link {
    color: white;
}

.nft-collection-img {
    background-color: rgba(255, 255, 255, 0.05);
    width: 290px;
    height: 290px;
}

/* Styled for section.about-us */
.about-us {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.feature {
    background-color: #222;
    color: #fff;
}

.feature-title {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.feature-description {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #C2C3C5;
}

.about-us-description {
    color: #C2C3C5;
}

.btn-read-more {
    border: 2px solid #21E786;
    color: rgb(255, 255, 255);
    background-color: #141B22;
}

/* section.how-it-works {} */
.step-img {
    width: 92px;
    height: 72px;
}

.step-title {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #21E786;
}

.step-description {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;

}

.steps {
    background-color: #141B22;
}

/* section.road-map {} */
.big-square {
    width: 470px;
    height: 470px;
}

.small-square {
    width: 225px;
    height: 225px;
}

.road-map-img {
    width: 24px;
    height: 24px;
}

.road-map-heading-phase {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;

}

.road-map-list {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #C2C3C5;


}

.road-map-slider {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

.road-map-container {
    background-color: rgba(255, 255, 255, 0.05);
}

/* section.our-team {} */

.our-tean-img {
    width: 120px;
    height: 120px;
}

.links-img {
    width: 20px;
    height: 20px;
}

.our-team-member h3 {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

}

.our-team-member p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

}

.our-team-post {
    color: #C2C3C5;
}

/* section.partners {} */
.partners-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.partners-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.partners-container div:nth-child(2),
/* Binance Chain */
.partners-container div:nth-child(4),
/* Zerion */
.partners-container div:nth-child(6),
/* Instadapp */
.partners-container div:nth-child(7),
/* AToken */
.partners-container div:nth-child(9),
/* Giving Block */
.partners-container div:nth-child(11),
/* Pillar */
.partners-container div:nth-child(14),
/* Unstoppable */
.partners-container div:nth-child(16),
/* BitPay */
.partners-container div:nth-child(18) {
    /* Huobi Wallet */
    background-color: rgba(20, 27, 34, 1);
}

.partners-img {
    width: 162px;
    height: 60px;
}

/* section.faqs {} */
.faq-item faq-item-heading {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.faq-item p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.faq-item {
    background-color: rgb(20, 27, 34);
}

/* Styles for catalog.html */
/* main.page-content-catalog {}
*/
.collections-container {
    background-color: rgb(20, 27, 34);
}

.item {
    background-color: rgba(255, 255, 255, 0.05);
}

/* color for all links in the page catalog*/
.breadcrumb-link {
    color: rgb(255, 255, 255);
}

.breadcrumb-link-collections {
    color: rgb(255, 255, 255);
}

/* .social-icon {
    color: rgba(194, 195, 197, 1);

} */

.item-link {
    color: rgb(255, 255, 255);
}


/* section.collections {} */
.collections-heading {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 56px;
    text-align: left;

}

.breadcrumb-link-collections {
    color: #21E786;
}

/* section.items-grid {} */

.item-img {
    width: 290px;
    height: 290px;
}

.item p {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

/* Styles for catalog-item.html */
/* main.page-content-catalog-item {}
*/
.skeleton-img {
    width: 690px;
    height: 690px;
}

.items-icons {
    width: 24px;
    height: 24px;
}

.exploration-image {
    width: 290px;
    height: 290px;
}

.arrow-img {
    width: 26px;
    height: 14px;
}

.items-container {
    background: rgba(20, 27, 34, 1);
}

/* color for all links in the page catalog-item*/

.nav-items-link {
    color: rgb(255, 255, 255);
}

.nav-items-link-details {
    color: rgb(255, 255, 255);
}

.exploration-link {
    color: rgb(255, 255, 255);
}

/* section.items {} */
.items-text {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #C2C3C5;
}

.items-price {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
}

.item-price-number {
    color: #21E786;
}

.btn-buy-open-sea {
    background-color: #21E786;
    color: #141B22;
}

.btn-join-discord {
    background-color: rgba(13, 13, 17, 1);
    color: rgb(248, 243, 243);
}

.btn-join-twitter {
    background-color: rgba(13, 13, 17, 1);
    color: rgb(255, 255, 255);
}

.nav-items-link-details {
    color: #21E786;
}

/* styles for table items-details */
.items-details {
    padding: 20px;
    border-radius: 8px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.column dt {
    margin-bottom: 5px;
    color: rgba(194, 195, 197, 1);
}

.column dd {
    font-weight: bold;
    margin: 0;
}

/* styles for buttons */

.arrow-button.next {
    background-color: #21E786;
}

.arrow-button.prev {
    border: 1px solid #21E786;
    background-color: rgba(13, 13, 17, 1);
}

/* section.exploration {}  */
.exploration-text {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

/* Styles for footer */

/* footer index.html */
footer.page-footer-main-page {
    color: #fff;
    text-align: center;
}

.page-footer-text {
    color: #C2C3C5;
}

.nav-link-footer {
    color: #C2C3C5;
}

.btn-whitelist-footer {
    background-color: #21E786;
    color: rgba(20, 27, 34, 1);
}

.btn-discord-footer {
    background-color: rgba(88, 101, 242, 1);
    color: rgb(255, 255, 255);
}

.join-community-text {
    color: #C2C3C5
}

.footer-icon-img {
    width: 22px;
    height: 19px;
}

.logo-img {
    width: 24px;
    height: 27px;
}

/* footer for catalog.html and catalog-item.html */
footer.page-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;

}

.social-icons-img {
    width: 20px;
    height: 20px;
}

.logo-img-footer {
    width: 32px;
    height: 36px;
}

.discord-button-img {
    width: 24px;
    height: 24px;
}

/* color for catalog.html links */
.subscribe-list {
    color: #C2C3C5;
}

.company-list {
    color: #C2C3C5;
}

.footer-text {
    color: #C2C3C5;
}

.join-community {
    background: linear-gradient(268.28deg, #2333DE -1.34%, #0ABE66 100%);
}

.btn-discord {
    background-color: #5865F2;
    color: rgb(255, 255, 255);
}

.btn-whitelist-footer {
    background: #21E786;
    color: #141B22;
}

footer .logo-text {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}