/* Basics styles for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'Bakbak One', Arial, sans-serif;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #0D0D11;
}

/* delete dots in ul*/
ul {
    list-style-type: none;
}

/* Styles for headers */

.main-heading {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
}

.section-title {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
}

.color-binabox {
    color: #21E786;
}

/* Styles for header for index, catalog, catalog-item*/
header.page-header {
    background-color: #040B11;
    font-family: 'Bakbak One', Arial, sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 10%;
}

/* Remove underline from the logo link */

a {
    text-decoration: none;
}

header .logo-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
}

/* Navigation styles for index.html catalog.html and catalog-item.html */
/* nav.pageheader-nav {} */

/* color for visited links */
/* .nav-link:visited {
    color: rgb(143, 99, 156);
} */

/* properties for all links (index, catalog, catalog-item, contact-us) */
.nav-link {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.main-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;

}

/* Styles for all buttons */

.btn {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 154px;
    height: 56px;
    padding: 12px 24px;
    gap: 8px;
}

/* properties for button sun */
.btn-sun {
    background-color: #141B22;
    width: 48px;
    height: 48px;
    gap: 0;
    border-radius: 41px 41px 41px 41px;
}

.btn-grey {
    background-color: #141B22;
    color: #FFFFFF;
}

.btn-green {
    background-color: #21E786;
    color: #141B22;
}

.btn-transparent {
    border: 2px solid #21E786;
    color: rgb(255, 255, 255);
    background-color: #141B22;
}

.btn-violet {
    background-color: #5865F2;
    color: rgb(255, 255, 255);

}

.btn-black {
    background-color: rgba(13, 13, 17, 1);
    color: rgb(248, 243, 243);

}

.btn-grey-x {
    background-color: #41454A;
    width: 102px;
    height: 44px;
    padding: 9px 13px 9px 20px;
    gap: 10px;
    color: #F7F7F7;
}

.btn-green-x {
    color: #21E786;
}

/* Styles for index.html */

/* main.page-content
section.main-section*/

.stat-number {
    font-size: 44px;
    font-weight: 400;
    line-height: 56px;
    text-align: left;
}

.stat-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #C2C3C5;
}

/* Styles section.nft-collection */
.nft-collection-item {
    background-color: rgba(255, 255, 255, 0.05);
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

/* color for links */
.nft-collection-link {
    color: white;
}


/* Styled for section.about-us */
.about-us {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.feature {
    background-color: #222;
    color: #fff;
}

.feature-title {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.feature-description {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #C2C3C5;
}

.about-us-description {
    color: #C2C3C5;
}

/* section.how-it-works {} */
.step-img {
    width: 92px;
    height: 72px;
}

.step-title {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #21E786;
}

.step-description {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;

}

.steps {
    background-color: #141B22;
}

/* section.road-map {} */

.road-map-heading-phase {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;

}

.road-map-list {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #C2C3C5;


}

.road-map-slider {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

.road-map-container {
    background-color: rgba(255, 255, 255, 0.05);
}

/* section.our-team {} */

.our-team-member {
    background-color: #141B22;
}

.our-team-member h3 {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

}

.our-team-post {
    color: #C2C3C5;
}

/* section.partners {} */
.partners-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.partners-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.partners-container div:nth-child(2),
/* Binance Chain */
.partners-container div:nth-child(4),
/* Zerion */
.partners-container div:nth-child(6),
/* Instadapp */
.partners-container div:nth-child(7),
/* AToken */
.partners-container div:nth-child(9),
/* Giving Block */
.partners-container div:nth-child(11),
/* Pillar */
.partners-container div:nth-child(14),
/* Unstoppable */
.partners-container div:nth-child(16),
/* BitPay */
.partners-container div:nth-child(18) {
    /* Huobi Wallet */
    background-color: rgb(20, 27, 34);
}

/* section.faqs {} */
.faq-item faq-item-heading {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}


.faq-item {
    background-color: rgb(20, 27, 34);
}

/* Styles for catalog.html */
/* main.page-content-catalog {}
*/
/* styles.css */
.collections-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.collections-filter-items .filters-item {
    display: inline-block;
}

.filter-section {
    position: relative;
}

.toggle-checkbox {
    display: none;
}

.collections-title {
    cursor: pointer;
}

.filter-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-list li {
    margin: 5px 0;
}

.toggle-checkbox:checked~.filter-list {
    display: block;
}

.container {
    display: flex;
    width: 1410px;
    min-height: 1378px;
    gap: 0;
    margin: 100px;
}

.sidebar {
    width: 280px;
    min-height: 970px;
    gap: 0;
    margin: 0px 80px 0px 0px;
}

.filter-section {
    background-color: #141B22;
}

.collections-container {
    background-color: rgb(20, 27, 34);
}

.item {
    background-color: rgba(255, 255, 255, 0.05);
}

/* color for all links in the page catalog*/
.breadcrumb-link {
    color: rgb(255, 255, 255);
}

.breadcrumb-link-collections {
    color: rgb(255, 255, 255);
}

/* .social-icon {
    color: rgba(194, 195, 197, 1);

} */

.item-link {
    color: rgb(255, 255, 255);
}


/* section.collections {} */
.collections-heading {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 56px;
    text-align: left;

}

.breadcrumb-link-collections {
    color: #21E786;
}

/* section.items-grid {} */

/* .item p {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
} */

/* Styles for catalog-item.html */
/* main.page-content-catalog-item {}
*/

.exploration-image {
    width: 290px;
    min-height: 290px;
}

.arrow-img {
    width: 26px;
    min-height: 14px;
}

.items-container {
    background: rgba(20, 27, 34, 1);
}

/* color for all links in the page catalog-item*/

.nav-items-link {
    color: rgb(255, 255, 255);
}

.nav-items-link-details {
    color: rgb(255, 255, 255);
}

.exploration-link {
    color: rgb(255, 255, 255);
}

/* section.items {} */
.items-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.items-text {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #C2C3C5;
}

.items-price {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
}

.item-price-number {
    color: #21E786;
}

.nav-items-link-details {
    color: #21E786;
}

/* styles for table items-details */
.items-details {
    padding: 20px;
    border-radius: 8px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.column dt {
    margin-bottom: 5px;
    color: rgba(194, 195, 197, 1);
}

.column dd {
    font-weight: bold;
    margin: 0;
}

/* styles for buttons */

.arrow-button.next {
    background-color: #21E786;
}

.arrow-button.prev {
    border: 1px solid #21E786;
    background-color: rgba(13, 13, 17, 1);
}

/* section.exploration {}  */
.exploration-text {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.sidebar-title {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

.search-bar {
    display: flex;
    align-items: center;
    background-color: rgba(20, 27, 34, 1);
    padding: 5px 10px;
    border-radius: 5px;
    width: 280px;
    min-height: 48px;
    top: 4px;
    left: 1130px;
    gap: 0;
}

.search-input {
    background-color: transparent;
    border: none;
    color: rgba(136, 139, 142, 1);
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.search-input::placeholder {
    color: #666;
    /* Placeholder color */
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0px 0px 0px 240px; */
}

.search-button img {
    width: 20px;
    height: 20px;
    top: 17px;
    left: 1370px;
    gap: 0;
}

/* styles for contact-us.html */
.form {
    text-align: center;
    width: 690px;
    height: 536px;
}

.form-heading,
.form-paragraph {
    margin: 0 auto 16px auto;
    max-width: 100%;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-grid input,
.form-grid textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(194, 195, 197, 0.15);
    color: #C2C3C5;

}

.form-grid input[type="tel"] {
    grid-column: 1 / 3;
    /* Make the phone number input span across two columns */
}

.form-grid textarea {
    grid-column: 1 / 3;
    resize: vertical;
    height: 100px;
}

.form-grid button {
    grid-column: 1 / 3;
    justify-self: center;
    padding: 10px 20px;
}


/* Styles for footer */

/* footer index.html */
footer.page-footer-main-page {
    color: #fff;
    text-align: center;
}

.page-footer-text {
    color: #C2C3C5;
}

.nav-link-footer {
    color: #C2C3C5;
}

.join-community-text {
    color: #C2C3C5
}


.subscription-block-main-footer input {
    width: 690px;
    height: 56px;
    opacity: 0.15;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: rgba(194, 195, 197, 1);
}

.button-subscribe {
    width: 154px;
    height: 56px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    background: rgba(33, 231, 134, 1);
    color: rgba(4, 11, 17, 1);
}

/* footer for catalog.html and catalog-item.html contact-us.html*/

footer.page-footer {
    background-color: rgba(20, 27, 34, 1);
    color: #fff;
    padding: 20px;

}

/* color for catalog.html links */
.subscribe-list {
    color: #C2C3C5;
}

.company-list {
    color: #C2C3C5;
}

.footer-text {
    color: #C2C3C5;
}

.join-community {
    background-image: url(/img/the-first-star.svg), url(/img/the-second-star.svg), url(/img/the-third-star.svg), linear-gradient(268.28deg, #2333DE -1.34%, #0ABE66 100%);
    background-position: top left, bottom right, top 0px left 280px;
    background-size: 255px 255px, 321px 321px, 137px 137px, cover, contain;
    background-repeat: no-repeat;
    min-height: 246px;
}

.subscription-block-form input {
    width: 287px;
    height: 56px;
    padding: 14px 24px;
    gap: 10px;
    background-color: rgba(20, 27, 34, 1);
    color: rgba(194, 195, 197, 1);
}

.button-submit {
    width: 154px;
    height: 56px;
    padding: 12px 24px;
    gap: 8px;
    background: rgba(33, 231, 134, 1);
    color: rgba(4, 11, 17, 1);
}

footer .logo-text {
    font-family: 'Bakbak One', Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}